* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-width: 300px;
  background-color: transparent;
}

h1 {
  color: #202124;
  font-size: 18px;
}

h2 {
  color: #202124;
  font-size: 16px;
}

.credits, .credits > a {
  text-align: end;
  font-size: 12px;
  color: grey;
}

li.done::before {
  content: " ✅";
}